node_modules
.DS_Store
dist
*.local
# https://sli.dev/custom/directory-structure.html#index-html
# index.html
.remote-assets
components.d.ts

# See: .github/workflows/deploy_slide.yaml
slides-export.pdf
